<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>L & L's COZY CRITTERS</title>
</head>
<body>
<header>
    <a href="/pets" class="link">PETS</a>
    <a href="/pets/new" class="link">NEW PET</a>
    <a href="/pets/toys" class="link">NEW TOY</a>
</header>