<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>PETTTTS</title>
</head>
<body>
<section class="welcome-section">
  <h1 class="home-headers" id="h1-home">WELCOME</h1>
  <h2 class="home-headers">to L & L's Cozy Critter Cove</h2>
  <h3 class="home-headers">Where Hearts and Paws Unite</h3>
  <p><img src="/img/tilly.jpg" alt="Tilly the fat f***">
  <img src="/img/roux.jpg" alt="Roux the one-eyed wonder"></p>
  <button class="welcome-button" role="button"><a href="http://localhost:3000/pets">COME ON IN!</a></button>
</section>






<%- include('./partials/footer')%>