<%- include('../partials/header')%>
<section class="new-center">
<section class="title"><%=title%></section>

<form action="/pets/" method="POST">
   <label>Name:
      <input type="string" name="name">
    </label><br>

  <label>Species:
      <input type="string" name="species">
    </label><br>

    <label>Color
      <select name="color">
        <option value="Brown">Brown</option>
        <option value="Black">Black</option>
        <option value="Grey">Grey</option>
        <option value="Spotted">Spotted</option>
        <option value="White">White</option>
        <option value="Brindle">Brindle</option>
        <option value="Multi">Multi</option>
      </select>
    </label><br>

    <label>Interests:
      <input type="string" name="interests" placeholder="Separated by comma">
    </label><br>

    <label># of Eyes:
      <input type="number" name="eyeNo">
    </label><br>

    <label>Image URL:
      <input type="String" name="image">
    </label><br>


    <button type="submit" class="welcome-button">Add Pet</button>
</form>
</section>
<%- include('../partials/footer')%>