<%- include('../partials/header')%>
<section class="new-center">
<h1>MAKE A NEW TOY</h1>

<form action="/pets/toys" method="POST">
    <label>Name:
        <input type="string" name="name">
      </label><br>
    <label>Type of toy:
        <input type="string" name="type">
      </label><br>
    <label>Color:
        <input type="string" name="color">
      </label><br>
    <label>WHO GETS?
        <select name="pet">
            <%pets.forEach(pet=>{%>
            <option value=<%=pet.name%>><%=pet.name%></option>
<%})%>
        </select>
      </label><br>
      <button class="welcome-button">ADD NEW TOY</button>

</form>
</section>
<%- include('../partials/FOOTER')%>